@{
    Layout = "_Layout";
}

<h2>Ürün İçin Yeterli Stok Mevcut</h2>

<p>Tüm malzemelerin yeterli stok miktarı mevcut.</p>

<!-- Geri dönmek için buton -->
<div>
    <a href="@Url.Action("Manage", "Stock")" class="btn btn-primary">Stok Yönetimine Geri Dön</a>
</div>
